In [57]:
import pandas as pd
from pandas.io.json import json_normalize
import json

coins = '/Users/paddy/Desktop/AiCore/Scraper_Project/coins.json'

#f = open(coins)

# coins_unstructured = pd.read_json(coins.json)

# df = coins.head()
pd.get_option('display.max_columns')
pd.set_option("display.max_columns", None)


with open(coins) as f:
    data = json.load(f)
df_raw = pd.read_json(data)

# coin_data_path = df_raw

# coin_data = []
# #coin_file = open(coin_data_path, "r", encoding="utf-8")

# for line in df_raw:
#     try:
#         coin = json.loads(line)
#         if isinstance(coin, dict): 
#             coin_data.append(coin)
#     except: 
#         continue

# # coin_data = [coin for coin in df_raw if isinstance(coin, dict)]
# df = json_normalize(coin_data)
#df = json_normalize(df, record_path=["uuid", "name", "Symbol", "Price",  "Volume", "Market_Cap", "Circulating_Supply"], meta=str, errors='ignore', max_level=2)

df = pd.DataFrame.from_dict(df_raw, orient='columns')

#df_norm = json_normalize(df)

df.head(10)


#df.head(5)

,uuid,Name,Symbol,Price,Volume,Market_cap,Circulating_Supply
0,50181950-aa63-445b-80fe-3b59e822f284,Bitcoin,BTC,"$42,385.25","$24,232,171,581","$805,221,124,917","18,991,675 BTC"
1,76ee3c35-1b9c-4165-aac6-b47b7316a864,Ethereum,ETH,"$2,998.77","$14,841,981,919","$360,404,327,705","120,080,018 ETH"
2,9329b199-4985-430b-b2b0-dbf8867d8736,Tether,USDT,$1.00,"$64,639,891,814","$80,855,304,609","80,824,735,523 USDT"
3,a4e46387-93f9-4a9e-8ab1-bbce6030f84d,BNB,BNB,$405.72,"$1,593,053,603","$67,050,904,050","165,116,761 BNB"
4,365863da-f916-4426-a61f-18ba8f9ce864,USD Coin,USDC,$0.9998,"$3,750,223,105","$52,393,358,297","52,407,144,164 USDC"
5,ee4c932d-7f08-4053-9885-41d771689b88,XRP,XRP,$0.8371,"$2,111,455,676","$40,340,282,150","48,121,609,012 XRP"
6,3fe1a33f-9744-4b46-bf89-1ed79374366b,Cardano,ADA,$1.08,"$2,903,795,678","$36,405,855,672","33,713,356,634 ADA"
7,e51cc42a-cf79-4a7f-9ffa-eaf79f97bc01,Terra,LUNA,$95.41,"$1,683,663,507","$34,523,785,929","361,832,565 LUNA"
8,3550b385-7bbf-4cbd-8df3-3a33c6229ecd,Solana,SOL,$94.66,"$1,916,625,144","$30,347,601,762","320,489,715 SOL"
9,2334f5aa-f091-4301-a8b9-0f459762ed52,Avalanche,AVAX,$85.24,"$1,437,627,120","$22,921,719,601","267,274,482 AVAX"

In [58]:
from sqlalchemy import create_engine
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'database-1.cycquey1wjft.us-east-1.rds.amazonaws.com' # Change it for your AWS endpoint
USER = 'postgres'
PASSWORD = 'Saintpartick2'
PORT = 5432
DATABASE = 'postgres'
engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")
engine.connect()

In [59]:
df.to_sql('coin_dataset_sql', engine, if_exists='replace')

df_sent_to_sql = pd.read_sql_table('coin_dataset_sql', engine)

In [60]:
df.head()

,uuid,Name,Symbol,Price,Volume,Market_cap,Circulating_Supply
0,50181950-aa63-445b-80fe-3b59e822f284,Bitcoin,BTC,"$42,385.25","$24,232,171,581","$805,221,124,917","18,991,675 BTC"
1,76ee3c35-1b9c-4165-aac6-b47b7316a864,Ethereum,ETH,"$2,998.77","$14,841,981,919","$360,404,327,705","120,080,018 ETH"
2,9329b199-4985-430b-b2b0-dbf8867d8736,Tether,USDT,$1.00,"$64,639,891,814","$80,855,304,609","80,824,735,523 USDT"
3,a4e46387-93f9-4a9e-8ab1-bbce6030f84d,BNB,BNB,$405.72,"$1,593,053,603","$67,050,904,050","165,116,761 BNB"
4,365863da-f916-4426-a61f-18ba8f9ce864,USD Coin,USDC,$0.9998,"$3,750,223,105","$52,393,358,297","52,407,144,164 USDC"